<!-- AÑADIR NAV -->

<app-menu-navegacion></app-menu-navegacion>
<div class="container-button">
    <div>
        <button type="button" id="texto" class="btn block btn-outline" style="background-color: #F6951B" [routerLink]="['/adminUsuario']">Usuarios</button>
    
    </div>
    <div>
        <button type="button" id="texto" class="btn block btn-outline" style="background-color: #F6951B" [routerLink]="['/adminCafeteria']">Cafeterias</button>
    
    </div>
    <div>
        <button type="button" id="texto" class="btn block btn-outline" style="background-color: #F6951B" [routerLink]="['/adminProducto']">Productos</button>
    
    </div>
</div>
