<!-- AÑADIR NAV -->

<app-menu-navegacion></app-menu-navegacion>
<div class="container-button">
    <div>
        <button type="button" id="texto" class="btn block btn-outline" style="background-color: #F6951B" [routerLink]="['/adminUsuario']">Usuarios</button>
    
    </div>
    <div><a href="cafeteriasAdministrador.html"><button type="button" id="texto" class="btn block btn-outline" style="background-color: #F6951B"  [routerLink]="['/adminCafeteria']">Cafeterias</button></a></div>
    <div><a href="productosAdministrador.html"><button type="button" id="texto" class="btn block btn-outline" style="background-color: #F6951B"  [routerLink]="['/adminProducto']">Productos</button></a></div>
</div>
