<app-menu-navegacion></app-menu-navegacion>

<div class="container table-responsive">
    <div class="container p-5 my-3 text-white text-center flex-row">
      <div style="display: inline-block;">
        <button type="button" id="texto" class="btn mx-2" style="background-color: #F6951B" [routerLink]="['/adminCrearCafeteria']">
          Crear nuevo cafeteria
        </button>
      </div>
      <div style="display: inline-block;">
        <button type="button" id="texto" class="btn mx-2" style="background-color: #F6951B" [routerLink]="['/adminCafeteria']">
          Ver cafeterias
        </button>
      </div>
      <div style="display: inline-block;">
        <button type="button" id="texto" class="btn mx-2" style="background-color: #F6951B" [routerLink]="['/administrador/:IDUsuario']">
          Volver
        </button>
      </div>
    </div>

    <!-- 
************************************************
FORMULARIO DE REGRISTRO DE USUARIO 
************************************************
-->
<div>
    <p *ngIf="registroExitoso == false"> No se ha podido realizar el registro</p>
  </div>
  
      <div class="row">
        <div class="row">
          <div class="col-lg-4 col-md-3 col-md-3"></div>
          <!--FORMULARIO PARA DATOS-->
          <form class="was-validated form col-lg-4 col-md-6 col-sm-12 bg-white" action="" #Formulario="ngForm">
          <h2 class="titulo">Registrar cafeteria</h2>
          <div class="mb-3 mt-3">

          <!--NOMBRE CAFETERIA-->
          <div>
            <label for="nombre" class="form-label">Nombre de cafeteria</label>
            <input type="text" class="form-control" id="nombre" name ="nombre" placeholder="Introduzca cafeteria" required
              pattern="[a-zA-Z]{5,20}" [(ngModel)]="registroForm.nombre"/>
            <div class="invalid-feedback">
              Introduzca un usuario con solo letras mayusculas y/o minusculas.
            </div>
            <div class="valid-feedback">Correcto</div>
          </div>
  
          <!--NOMBRE PROPIETARIO-->
          <div>
            <label for="propietario" class="form-label">Nombre de propietario</label>
            <input type="text" class="form-control" id="propietario" name ="propietario" placeholder="Introduzca propietario" required
              pattern="[a-zA-Z]{5,20}" [(ngModel)]="registroForm.propietario"/>
            <div class="invalid-feedback">
              Introduzca un propietario con solo letras mayusculas y/o minusculas.
            </div>
            <div class="valid-feedback">Correcto</div>
          </div>
          
          <!--DIRECCION-->
          <div>
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="direccion" name ="direccion" placeholder="Introduzca direccion" required
              pattern="[a-zA-Z]{5,20}" [(ngModel)]="registroForm.direccion"/>
            <div class="invalid-feedback">
              Introduzca una dirección con solo letras mayusculas y/o minusculas.
            </div>
            <div class="valid-feedback">Correcto</div>
          </div>

          <!-- <button (click) ="registrarse(Formulario)" class="btn" style="background-color: #F6951B"> -->
            <button  (click)="registrarse(Formulario)" class="btn" style="background-color: #F6951B">
              Crear cafeteria
          </button>
          </div>
        </form>
      </div>
  
    

