<!DOCTYPE html>
<html>
<head>
    <title>Buscador con Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .search-container {
            max-width: 500px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <div class="search-container">
        <form class="input-group">
            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filterProductos" name="filterProductos">
            <div class="input-group-append">
                <button class="btn bg-orange" type="submit">Buscar</button>
            </div>
        </form>
    </div>
</body>
</html>
