body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    padding-top: 2px;
}

#texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 2px;
}

.navbar {
    align-items: center;
}

.navbar-nav {
    margin: 0;
}

.dropdown-menu,
.dropdown {
    background-color: #F6951B;
}

.bg-orange {
    background-color: #F6951B;
}

#dropdownMenuButton2 {
    color: white;
}

.footer {
    background-color: #F6951B;
    height: 2cm;
    align-items: center;
    color: white;
    margin-top: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex-botones{
    display: flex;
    flex-direction: row;
}

.boton{
    margin-right: 15px;
    background-color: #F6951B;
}

.feedback{
    margin-top: 15px;
}