<app-menu-navegacion></app-menu-navegacion>
<div class="container">
  <div class="row">


    <!-- DIV DE FORMULARIO DONDE TRAEMOS LOS DATOS DE LA BBDD Y LO VISUALIZAMOS EN EL PLACEHOLDER DE CADA UNO DE LOS INPUT-->
    <div class="col-sm-8" style="margin-top: 50px;">
      <div class="tab-pane active" id="home">
        <h3>Crear Producto</h3>
        <form class="form" action="##" method="post" id="producto" #Formulario="ngForm">
          <div class="form-group mt-3">
            <!-- DIV NOMBRE -->
            <div class="col-xs-6">
              <label for="nombre">
                <h5>Nombre</h5>
              </label>
              <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="registroForm.nombre"
                placeholder="">
            </div>
          </div>

          <!-- DIV CATEGORÍA -->
          <div class="form-group mt-3">
            <div class="col-xs-6">
              <label for="categoria">
                <h5>Categoría</h5>
              </label>
              <select class="form-control" name="categoria" id="categoria" [(ngModel)]="registroForm.categoria">
                <option selected value="defecto" disabled>Selecciona una categoría</option>
                <option value="1">Bebida Fría</option>
                <option value="2">Bebida Caliente</option>
                <option value="3">Snack</option>
                <option value="4">Bocadillo</option>
                <option value="5">Bollería</option>


              </select>
            </div>
          </div>

          <!-- <div class="form-group mt-3">
            <div class="col-xs-6">
              <label for="categoria">
                <h5>Categoría</h5>
              </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoria" id="bebidaFria" value="1"
                  [(ngModel)]="registroForm.categoria">
                <label class="form-check-label" for="bebidaFria">
                  Bebida Fría
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoria" id="bebidaCaliente" value="2"
                  [(ngModel)]="registroForm.categoria">
                <label class="form-check-label" for="bebidaCaliente">
                  Bebida Caliente
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoria" id="snack" value="3"
                  [(ngModel)]="registroForm.categoria">
                <label class="form-check-label" for="snack">
                  Snack
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoria" id="bocadillo" value="4"
                  [(ngModel)]="registroForm.categoria">
                <label class="form-check-label" for="bocadillo">
                  Bocadillo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categoria" id="bolleria" value="5"
                  [(ngModel)]="registroForm.categoria">
                <label class="form-check-label" for="bolleria">
                  Bollería
                </label>
              </div>
            </div>
          </div> -->


          <div class="form-group mt-3">
            <div class="col-xs-6">
              <label for="frio">
                <h5>¿Requiere refrigeración?</h5>
              </label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="frio" id="caliente" value="0"
                  [(ngModel)]="registroForm.frio">
                <label class="form-check-label" for="caliente">
                  Caliente
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="frio" id="frio" value="1"
                  [(ngModel)]="registroForm.frio">
                <label class="form-check-label" for="frio">
                  Frío
                </label>
              </div>
            </div>
          </div>


          <!-- DIV UNIDAD -->
          <div class="form-group mt-3">
            <div class="col-xs-6">
              <label for="unidad">
                <h5>Unidad</h5>
              </label>
              <input type="text" class="form-control" name="unidad" id="unidad" [(ngModel)]="registroForm.unidad"
                placeholder="">
            </div>
          </div>

          <!-- DIV PRECIO -->
          <div class="form-group mt-3">
            <div class="col-xs-6">
              <label for="precio">
                <h5>Precio</h5>
              </label>
              <input type="number" class="form-control" name="precio" id="precio" [(ngModel)]="registroForm.precio"
                placeholder="">
            </div>
          </div>

          <!-- DIV DESCRIPCIÓN -->
          <div class="form-group mt-3">
            <div class="col-xs-6">
              <label for="descripcion">
                <h5>Descripción</h5>
              </label>
              <textarea class="form-control" name="descripcion" id="descripcion" rows="4"
                [(ngModel)]="registroForm.descripcion" placeholder=""></textarea>
            </div>
          </div>

          <!-- DIV LINK DE LA IMAGEN -->
          <div class="form-group mt-3">
            <div class="col-xs-6">
              <label for="linkImagen">
                <h5>Link de la imagen</h5>
              </label>
              <input type="text" class="form-control" name="linkImagen" id="linkImagen"
                [(ngModel)]="registroForm.linkImagen" placeholder="">
            </div>
          </div>

          <!-- DIV BOTON GUARDAR el producto -->
          <button (click)="registrar(Formulario)" class="btn" style="background-color: #F6951B">
            Crear cuenta
          </button>

        </form>

      </div>
    </div>
  </div>