#texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding-top: 2px;

}

.navbar {
    align-items: center;
}

.navbar-nav {
    margin: 0;
}

.dropdown-menu,
.dropdown {
    background-color: #F6951B;
}

.bg-orange {
    background-color: #F6951B;
}

#dropdownMenuButton2 {
    color: white;
}

.row {
    justify-content: space-evenly
}

.card-size {
    width: 250px;
    height: 250px;
}

#producto {
    height: 150px;
    width: 120px;
}

.search-container {
    max-width: 500px;
    margin: 20px auto;
}