<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CafeGo</title>
</head>
<body>
    <main>
        <app-menu-navegacion></app-menu-navegacion>
        <form action="" #Categoria="ngForm">
            <div class="row">
                    <!-- <input  id= "inputHiddenaCategoria" type="hidden" name="ofertas" value="TodosProductos" >   -->
                    <input class="btn circulo" type="submit" value="TodosProductos"(click)="productos($event)" />

                    <!-- <input id= "inputHiddenaCategoria" type="hidden" value={{categoria}} name="ofertas" >  -->
                    <input *ngFor="let categoria of categorias; let i = index" class="btn circulo" type="submit" value={{categoria}} (click)="productos($event)" />
            </div>
        </form>
    </main>

