<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CafeGo</title>
</head>

<body>

  <main>
    <!-- 
************************************************
    IMAGEN - LOGO 
************************************************
-->
    <img src="./images/CafeGo.png" alt="Logo CafeGo">


    <!-- 
************************************************
FORMULARIO DE REGRISTRO DE USUARIO 
************************************************
-->


    <div class="row">
      <div class="col-lg-4 col-md-3 col-md-3"></div>
      <!--FORMULARIO PARA DATOS-->
      <form class="was-validated form col-lg-4 col-md-6 col-sm-12 bg-white" action="">
        <h2 class="titulo">Registrarse</h2>
        <div class="mb-3 mt-3">

          <!--CORREO ELECTRONICO-->
          <label for="nombre" class="form-label">Tu direccion de correo electronico</label>
          <input type="text" class="form-control" id="nombre" placeholder="Introduzca usuario" required
            pattern=".+@educamadrid.es" />
          <div class="invalid-feedback">
            Introduzca un correo electronico electronico valido.
          </div>
          <div class="valid-feedback">Correcto</div>
        </div>

        <!--NOMBRE USUARIO-->
        <div>
          <label for="nombre" class="form-label">Nombre de usuario</label>
          <input type="text" class="form-control" id="nombre" placeholder="Introduzca usuario" required
            pattern="[a-zA-Z]{5,20}" />
          <div class="invalid-feedback">
            Introduzca un usuario con solo letras mayusculas y/o minusculas.
          </div>
          <div class="valid-feedback">Correcto</div>
        </div>

        <!--CONTRASEÑA USUARIO-->
        <div class="mb-3 mt-3">
          <label for="contraseña" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="contraseña" placeholder="Introduzca contraseña" required
            pattern="[a-zA-Z0-9]{8,20}" />
          <div class="invalid-feedback">
            Introduzca una contraseña alfanumerica de 8 a 20 caracteres.
          </div>
          <div class="valid-feedback">Correcto</div>
        </div>

        <div class="mb-3">
          <label for="contraseña" class="form-label">Repita la contraseña</label>
          <input type="password" class="form-control" id="contraseña" placeholder="Introduzca contraseña" required
            pattern="[a-zA-Z0-9]{8,20}" />
          <div class="invalid-feedback">
            Introduzca una contraseña alfanumerica de 8 a 20 caracteres.
          </div>
          <div class="valid-feedback">Correcto</div>
        </div>
        <p>
          Al continuar, aceptas nuestras
          <span class="text-success">
            <a href="" style="color: #F6951B">condiciones de servicio.</a>
          </span>
        </p>
        <button type="submit" class="btn" style="background-color: #F6951B">
          Crear cuenta
        </button>
      </form>
    </div>
  </main>
</body>


</html>
